html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 1px;
  margin: 0;
  border: none;
}

body {
  background-color: #323840;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* ---- particles.js container ---- */
#particles-js {
  z-index: -1;
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #323840;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Animation Fade-in */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Wrapper */
.wrapper {
  z-index: 100;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
}

/* Navigation */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 80%; */
  font-size: 25px;
  min-height: 300px;
  text-align: center;
}

.nav-container a {
  color: #ffffff;
  text-decoration: none;
}

.nav-container a:hover {
  color: #0075c4;
  cursor: pointer;
}

.nav-container .active {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/* Typewriter */
.typewriter {
  margin-top: 20px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 75px;
  background-color: #254e70;
}

/* Bio */
.bio {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social-media {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social-media a {
  color: #ffffff;
  text-decoration: none;
}

.social-media a:hover {
  color: #0075c4;
  cursor: pointer;
}

/* About */
.about {
  background-color: #254e70;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  height: auto;
  padding: 8px;
  flex-basis: 50%;
  word-wrap: break-word;
}

.about h1 {
  font-size: 50px;
}

.about p {
  margin-top: 30px;
  font-size: 18px;
}

/* Projects */
.projects {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 50%;
  max-width: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  word-wrap: break-word;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #254e70;
  flex-grow: 1;
  flex-basis: 33.333333%;
  height: auto;
}

.card a {
  word-wrap: break-word;
  font-size: 20px;
  cursor: pointer;
}

.card a:hover {
  color: #0075c4;
}

@media (max-width: 1100px) {
  .projects .card {
    flex-basis: 100%;
  }
  .projects,
  .typewriter,
  .about {
    order: 0;
  }
}

@media (max-width: 812px) {
  .nav-container {
    font-size: 20px;
  }
  .typewriter {
    font-size: 60px;
  }
  .about {
    margin: 10px;
    flex-basis: 100%;
  }
  .about h1 {
    font-size: 40px;
  }

  .projects {
    max-width: none;
  }
  .projects .card {
    flex-basis: 100%;
  }
  .bio {
    order: 1;
  }
}
